[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/Dockerfile.vim"]
	path = vim/.vim/bundle/Dockerfile.vim
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "vim/.vim/bundle/gundo.vim"]
	path = vim/.vim/bundle/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/salt-vim"]
	path = vim/.vim/bundle/salt-vim
	url = git@github.com:saltstack/salt-vim.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-argumentative"]
	path = vim/.vim/bundle/vim-argumentative
	url = git@github.com:PeterRincker/vim-argumentative.git
[submodule "vim/.vim/bundle/vim-bufferline"]
	path = vim/.vim/bundle/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/vim-colorschemes"]
	path = vim/.vim/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/.vim/bundle/vim-indent-object"]
	path = vim/.vim/bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/vim-less"]
	path = vim/.vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim/.vim/bundle/vim-mustache-handlebars"]
	path = vim/.vim/bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/.vim/bundle/vim-stylus"]
	path = vim/.vim/bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
